body{
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.25fr 1fr;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.sidebar {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr .4fr .2fr .2fr;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    background-color: rgb(77 232 167);
    padding-left: 10px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 5px;
    justify-items: start;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: lighter;
}

#taskBox{
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
#projectBox{
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.sidebar-item > span:hover {
    transition: width 1s ease;
    text-decoration: underline;
    position: relative;
    text-decoration-color: orange;
    width: 100%;
}

.mainlayout{
    position: relative;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr repeat(0.50fr);
    grid-template-columns: repeat(1fr);
}

.taskBox{
    display: grid;
    border: 1px solid orange;
    margin: 10px;
}

